[submodule "rain-fzf"]
	path = themes/rain-fzf
	url = https://github.com/85clab0/rain-fzf.git
[submodule "themes/themes/rain-fzf"]
	path = themes/themes/rain-fzf
	url = https://github.com/85clab0/rain-fzf.git
